@import 'toolbox';

$grey: #444444;
$grey-light: #666666;
$grey-lighter: #CCCCCC;
$grey-dark: #111111;

$primary: #4E9CB5;
$primary-light: #70bad1;
$primary-dark: #02779E;
$primary-darker: #0C152A;

$secondary: #F59E03;
$secondary-light: #ffba40;
$secondary-dark: #EB540A;


html, body{
	font-size: 16px;
	font-family: 'Teko', sans-serif;
}


.button{
	display: inline-block;
	font-weight: bold;
	margin: 20px 0;

	&.button-default{
		color: #ffffff;
		background: #333333;
	}
	&.button-small{
		padding: 10px 30px;
	}
}

.nav-container{
	text-align: center;
	position: fixed;
	height: 100%;
	width: 15%;
	top: 0;
	left: 0;

	background: #82aff9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #82aff9 0%, #73a4f3 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#82aff9), color-stop(100%,#73a4f3)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #82aff9 0%,#73a4f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #82aff9 0%,#73a4f3 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #82aff9 0%,#73a4f3 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #82aff9 0%,#73a4f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82aff9', endColorstr='#73a4f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	header{
		padding: 20px;

		img{
			width: 100%;
		}
	}
	ul.nav-menu{
		margin-top: 30px;

		li{
			width: 100%;
			text-align: center;
			color: white;
			font-size: 25px;
			padding: 25px 0;
			border-bottom: 1px solid $primary-light;
			cursor: pointer;

			&:last-child{
				border-bottom: none;
			}

			&:hover, &.active{
				background-color: $primary-dark;
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2) inset;
			}
		}
	}
	.bottom-panel{
		position: absolute;
		bottom: 20px;
		width: 80%;
		left: 10%;

		.user-panel{
			text-align: center;
			margin: 10px auto;

			img{
				width: 70%;
				@include border-radius(20px);
				margin-bottom: 10px;
			}
			h3{
				color: white;
				font-size: 20px;
				text-align: center;
				font-weight: normal;
			}
		}
		.settings-panel{
			margin: 10px auto;
			padding: 10px 0;
			border-top: 1px solid white;

			li{
				width: 45%;
				display: inline-block;
				text-align: center;
				color: white;
				font-size: 14px;

				&:hover{
					color: $primary-dark;
				}
			}
		}
	}
}


.content-container{
	position: absolute;
	left: 15%;
	width: 85%;
	padding: 3%;
	min-height: 100%;
	overflow-x: hidden;

	>section{
		h2{
			font-size: 40px;
			color: $primary-dark;
		}
		h3{
			font-size: 25px;
			color: $grey-light;
			margin-top: 15px;
		}
		p{
			font-size: 16px;
			color: $grey;
		}
		.chart_container{
			width: 100%;
			height: 500px;

			.button{
				float: right;
			}
		}
	}
}
.elements-gallery-default{
	ul{
		margin: 40px 0;
		position: relative;

		li{
			display: inline-block;
			min-width: 150px;
			width: 13%;
			padding-right:10px;
			text-align: left;
			margin-bottom: 20px;
			cursor: pointer;
			vertical-align: top;

			h3{
				font-size: 40px;
				color: $grey;	
				line-height: 90%;
				text-align: center;

				&.long{
					font-size: 20px;
				}
			}
			p{
				font-size: 18px;
				color: $grey;
				text-align: center;
			}

			&:hover{
				h3{
					color: $grey-lighter;
				}
				p{
					color: $grey-lighter;
				}
			}
		}
	}
}
.tabs-vertical{
	margin: 30px 0;
	position: relative;
	width: 100%;

	.tab{
		padding: 30px 0;
		width: 100%;
		background-color: $grey;
		border-bottom: 1px dashed $grey-lighter;
		cursor: pointer;

		&:last-child{
			border-bottom: 0;	
		}

		h3{
			color: white;
			text-align: center;
			font-size: 50px;
			font-weight: normal;
		}
		p{
			color: white;
		}
		
	}
}

.section-main.currencies{
	.currencies-gallery{
		position: relative;
		min-height: 150px;

		.date{
			font-size: 20px;
			font-weight: normal;
			padding-bottom: 10px;
			margin-bottom: 30px;
			border-bottom: 1px dashed $grey-lighter;
		}
	}
}

.section-main.stock{
	.stockcategories-gallery, .stocksymbols-gallery{
		position: relative;
		min-height: 150px;

		ul.list-stockcategories, ul.list-stocksymbols{
			li{
				width: 25%;
				border-left: 1px dashed #CCCCCC;
				border-right: 1px dashed #CCCCCC;
				padding: 0 10px;

				h3{
					font-size: 14px;
					line-height: 120%;
				}

				p{
					font-size: 90%;
				}
			}
		}

		
	}
}



/*
*
* spinner
*
*/
.spinnerContainer{
	position: absolute;
	width: 94%;
	height: 94%;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 1;


}
.spinner {
	text-align: center;
	font-size: 30px;
	width: 20%;
	height: 120px;
	left: 50%;
	position: relative;
	margin-left: -15%;
	top: 50%;
	margin-top: -60px;
}

.spinner > div {
  	background-color: #CA3C3C;
  	height: 100%;
  	width: 10px;
  	display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.currencies-list{

}