@import 'toolbox';

.bg{
	background-image: url('../images/login-bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	position: absolute;
	min-height: 100%;
	min-width: 100%;

	.login{
		background-color: rgba(73, 174, 207, 0.9); 
		padding: 50px;
		position: absolute;
		width: 50%;
		max-width: 800px;
		left: 50%;
		top: 50%;

		@include translate(-50%, -50%);

		header{
			text-align: center;
		}
	}
}