/******** GLOBAL **************/
.pull_left {
  float: left; }

.pull_right {
  float: right; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.absolute_left {
  position: absolute;
  left: 0; }

.absolute_right {
  position: absolute;
  right: 0; }

.absolute_top {
  position: absolute;
  top: 0; }

.absolute_bottom {
  position: absolute;
  bottom: 0; }

.grid20 {
  width: 20%; }

.grid25 {
  width: 25%; }

.grid30 {
  width: 30%; }

.grid35 {
  width: 35%; }

.grid40 {
  width: 40%; }

.grid45 {
  width: 45%; }

.grid50 {
  width: 50%; }

.grid55 {
  width: 55%; }

.grid60 {
  width: 60%; }

.grid65 {
  width: 65%; }

.grid70 {
  width: 70%; }

.grid80 {
  width: 80%; }

.grid90 {
  width: 90%; }

.grid100 {
  width: 100%; }

.inline {
  display: inline-block;
  vertical-align: middle; }

.table {
  display: table; }
  .table .cell {
    display: table-cell;
    vertical-align: middle; }

.center {
  margin: 0 auto; }

.text_center {
  text-align: center; }

.superscript {
  vertical-align: super;
  font-size: 7px; }

.contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.fixed_overall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/******** MIXONS **************/
html, body {
  font-size: 16px;
  font-family: 'Teko', sans-serif; }

.button {
  display: inline-block;
  font-weight: bold;
  margin: 20px 0; }
  .button.button-default {
    color: #ffffff;
    background: #333333; }
  .button.button-small {
    padding: 10px 30px; }

.nav-container {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 15%;
  top: 0;
  left: 0;
  background: #82aff9;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #82aff9 0%, #73a4f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #82aff9), color-stop(100%, #73a4f3));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #82aff9 0%, #73a4f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #82aff9 0%, #73a4f3 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #82aff9 0%, #73a4f3 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #82aff9 0%, #73a4f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82aff9', endColorstr='#73a4f3',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .nav-container header {
    padding: 20px; }
    .nav-container header img {
      width: 100%; }
  .nav-container ul.nav-menu {
    margin-top: 30px; }
    .nav-container ul.nav-menu li {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 25px;
      padding: 25px 0;
      border-bottom: 1px solid #70bad1;
      cursor: pointer; }
      .nav-container ul.nav-menu li:last-child {
        border-bottom: none; }
      .nav-container ul.nav-menu li:hover, .nav-container ul.nav-menu li.active {
        background-color: #02779e;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset; }
  .nav-container .bottom-panel {
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%; }
    .nav-container .bottom-panel .user-panel {
      text-align: center;
      margin: 10px auto; }
      .nav-container .bottom-panel .user-panel img {
        width: 70%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        margin-bottom: 10px; }
      .nav-container .bottom-panel .user-panel h3 {
        color: white;
        font-size: 20px;
        text-align: center;
        font-weight: normal; }
    .nav-container .bottom-panel .settings-panel {
      margin: 10px auto;
      padding: 10px 0;
      border-top: 1px solid white; }
      .nav-container .bottom-panel .settings-panel li {
        width: 45%;
        display: inline-block;
        text-align: center;
        color: white;
        font-size: 14px; }
        .nav-container .bottom-panel .settings-panel li:hover {
          color: #02779e; }

.content-container {
  position: absolute;
  left: 15%;
  width: 85%;
  padding: 3%;
  min-height: 100%;
  overflow-x: hidden; }
  .content-container > section h2 {
    font-size: 40px;
    color: #02779e; }
  .content-container > section h3 {
    font-size: 25px;
    color: #666666;
    margin-top: 15px; }
  .content-container > section p {
    font-size: 16px;
    color: #444444; }
  .content-container > section .chart_container {
    width: 100%;
    height: 500px; }
    .content-container > section .chart_container .button {
      float: right; }

.elements-gallery-default ul {
  margin: 40px 0;
  position: relative; }
  .elements-gallery-default ul li {
    display: inline-block;
    min-width: 150px;
    width: 13%;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
    vertical-align: top; }
    .elements-gallery-default ul li h3 {
      font-size: 40px;
      color: #444444;
      line-height: 90%;
      text-align: center; }
      .elements-gallery-default ul li h3.long {
        font-size: 20px; }
    .elements-gallery-default ul li p {
      font-size: 18px;
      color: #444444;
      text-align: center; }
    .elements-gallery-default ul li:hover h3 {
      color: #cccccc; }
    .elements-gallery-default ul li:hover p {
      color: #cccccc; }

.tabs-vertical {
  margin: 30px 0;
  position: relative;
  width: 100%; }
  .tabs-vertical .tab {
    padding: 30px 0;
    width: 100%;
    background-color: #444444;
    border-bottom: 1px dashed #cccccc;
    cursor: pointer; }
    .tabs-vertical .tab:last-child {
      border-bottom: 0; }
    .tabs-vertical .tab h3 {
      color: white;
      text-align: center;
      font-size: 50px;
      font-weight: normal; }
    .tabs-vertical .tab p {
      color: white; }

.section-main.currencies .currencies-gallery {
  position: relative;
  min-height: 150px; }
  .section-main.currencies .currencies-gallery .date {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #cccccc; }

.section-main.stock .stockcategories-gallery, .section-main.stock .stocksymbols-gallery {
  position: relative;
  min-height: 150px; }
  .section-main.stock .stockcategories-gallery ul.list-stockcategories li, .section-main.stock .stockcategories-gallery ul.list-stocksymbols li, .section-main.stock .stocksymbols-gallery ul.list-stockcategories li, .section-main.stock .stocksymbols-gallery ul.list-stocksymbols li {
    width: 25%;
    border-left: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
    padding: 0 10px; }
    .section-main.stock .stockcategories-gallery ul.list-stockcategories li h3, .section-main.stock .stockcategories-gallery ul.list-stocksymbols li h3, .section-main.stock .stocksymbols-gallery ul.list-stockcategories li h3, .section-main.stock .stocksymbols-gallery ul.list-stocksymbols li h3 {
      font-size: 14px;
      line-height: 120%; }
    .section-main.stock .stockcategories-gallery ul.list-stockcategories li p, .section-main.stock .stockcategories-gallery ul.list-stocksymbols li p, .section-main.stock .stocksymbols-gallery ul.list-stockcategories li p, .section-main.stock .stocksymbols-gallery ul.list-stocksymbols li p {
      font-size: 90%; }

/*
*
* spinner
*
*/
.spinnerContainer {
  position: absolute;
  width: 94%;
  height: 94%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1; }

.spinner {
  text-align: center;
  font-size: 30px;
  width: 20%;
  height: 120px;
  left: 50%;
  position: relative;
  margin-left: -15%;
  top: 50%;
  margin-top: -60px; }

.spinner > div {
  background-color: #CA3C3C;
  height: 100%;
  width: 10px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1); } }
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
