/******** GLOBAL **************/
.pull_left {
  float: left; }

.pull_right {
  float: right; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.absolute_left {
  position: absolute;
  left: 0; }

.absolute_right {
  position: absolute;
  right: 0; }

.absolute_top {
  position: absolute;
  top: 0; }

.absolute_bottom {
  position: absolute;
  bottom: 0; }

.grid20 {
  width: 20%; }

.grid25 {
  width: 25%; }

.grid30 {
  width: 30%; }

.grid35 {
  width: 35%; }

.grid40 {
  width: 40%; }

.grid45 {
  width: 45%; }

.grid50 {
  width: 50%; }

.grid55 {
  width: 55%; }

.grid60 {
  width: 60%; }

.grid65 {
  width: 65%; }

.grid70 {
  width: 70%; }

.grid80 {
  width: 80%; }

.grid90 {
  width: 90%; }

.grid100 {
  width: 100%; }

.inline {
  display: inline-block;
  vertical-align: middle; }

.table {
  display: table; }
  .table .cell {
    display: table-cell;
    vertical-align: middle; }

.center {
  margin: 0 auto; }

.text_center {
  text-align: center; }

.superscript {
  vertical-align: super;
  font-size: 7px; }

.contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.fixed_overall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/******** MIXONS **************/
.bg {
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  min-height: 100%;
  min-width: 100%; }
  .bg .login {
    background-color: rgba(73, 174, 207, 0.9);
    padding: 50px;
    position: absolute;
    width: 50%;
    max-width: 800px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .bg .login header {
      text-align: center; }
