@charset "utf-8";




/******** GLOBAL **************/

.pull_left{
	float:left;
}
.pull_right{
	float:right;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.absolute_left{
	position:absolute;
	left:0;
}
.absolute_right{
	position:absolute;
	right:0;
}
.absolute_top{
	position:absolute;
	top:0;
}
.absolute_bottom{
	position:absolute;
	bottom:0;
}

.grid20{
	width:20%;
}
.grid25{
	width:25%;
}
.grid30{
	width:30%;
}
.grid35{
	width:35%;
}
.grid40{
	width:40%;
}
.grid45{
	width:45%;
}
.grid50{
	width:50%;
}
.grid55{
	width:55%;
}
.grid60{
	width:60%;
}
.grid65{
	width:65%;
}
.grid70{
	width:70%;
}
.grid80{
	width:80%;
}
.grid90{
	width:90%;
}
.grid100{
	width:100%;
}

.inline{
	display:inline-block;
	vertical-align:middle;
}
.table{
	display: table;

	.cell{
		display: table-cell;
		vertical-align: middle;
	}
}
.center{
	margin:0 auto;
}
.text_center{
	text-align:center;
}
.superscript{
	vertical-align: super;
	font-size:7px;
}
.contain{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}
.cover{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.link{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.fixed_overall{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/******** MIXONS **************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transform-rotate($value) {
     -moz-transform: rotate($value);
       -o-transform: rotate($value);
  -webkit-transform: rotate($value);
      -ms-transform: rotate($value);
          transform: rotate($value);
}
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
// -----------------------------------------
// TRANSFORMATION RULES
// -----------------------------------------
@mixin rotate($rotate: 0) {
  -webkit-transform: rotate($rotate +deg);
  -moz-transform:    rotate($rotate +deg);
  -ms-transform:     rotate($rotate +deg);
  -o-transform:      rotate($rotate +deg);
  transform:         rotate($rotate +deg);
}
@mixin scale($scale: 1) {
  -webkit-transform: scale($scale);
  -moz-transform:    scale($scale);
  -ms-transform:     scale($scale);
  -o-transform:      scale($scale);
  transform:         scale($scale);
}
@mixin skew($skew: 0) {
  -webkit-transform: skew($skew +deg);
  -moz-transform:    skew($skew +deg);
  -ms-transform:     skew($skew +deg);
  -o-transform:      skew($skew +deg);
  transform:         skew($skew +deg);
}
@mixin translate($left: 0, $top: 0) {
  -webkit-transform: translate($left , $top );
  -moz-transform:    translate($left , $top );
  -ms-transform:     translate($left , $top );
  -o-transform:      translate($left , $top );
  transform:         translate($left , $top );
}
@mixin translateY($top: 0) {
  -webkit-transform: translateY($top);
  -moz-transform:    translateY($top);
  -ms-transform:     translateY($top);
  -o-transform:      translateY($top);
  transform:         translateY($top);
}
@mixin translateX($left: 0) {
  -webkit-transform: translateX($left);
  -moz-transform:    translateX($left);
  -ms-transform:     translateX($left);
  -o-transform:      translateX($left);
  transform:         translateX($left);
}
// @include rotate(15);          rotates object 15 degrees
// @include scale(1.5);          scales object 50% up
// @include skew(12);            skews object 12 degrees
// @include translate(10, -20);  moves object 10px left, -20px top